/* Table container */
.data-table {
    overflow-x: auto;
    overflow-y: auto;
}

/* Table */
.data-table table {
    width: 100%;
    border-spacing: 0;
    text-align: left;
}

/* Table header cells */
.data-table table th {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
.data-table table th button {
    margin: 0px;
    padding: 0px;
    border: none;
    background: none;
    cursor: pointer;
    vertical-align: middle;
}
.data-table table th button svg {
    height: 24px;
    width: 24px;
}

/* Basic theme */
.data-table table.basic {
    border: 1px solid #000000;
    border-collapse: separate;
}
.data-table table.basic td {
    border: 1px solid #000000;
    color: #000000;
    background-color: #ffffff;
}
.data-table table.basic th {
    border: 1px solid #000000;
    color: #000000;
    background-color: #e8e8e8;
}
.data-table table.basic svg {
    color: #000000;
}
